################################################################################
####    pinned-requirements.txt    -    VERSIONED PROJECT DEPENDENCIES      ####
################################################################################

# See python-builds.txt for instructions.
# This is the file you will use for standard builds.
# TODO: Expand here with additional context, similar to that added to requirements.txt.
# TODO: Expand the text decoration #### to a wider col width, probably to 120.

################################################################################


# colorama - Used in decorator_ex.py in examples_standalone
colorama==0.4.6

# Python code linting from command line and via IDE integration
mypy==1.14.0
mypy-extensions==1.0.0
typing_extensions==4.12.2

# Python/Pip modules for module installations/upgrades, via manual uprgades
setuptools==75.6.0
wheel==0.45.1


##
#

