################################################################################
####    pinned-requirements.txt    -    VERSIONED PROJECT DEPENDENCIES      ####
################################################################################

# See python-builds.txt for instructions.
# This is the file you will use for standard builds.

################################################################################


# colorama - Used in decorator_ex.py in examples_standalone
colorama==0.4.5

