
####################################################################################################
# Project-specific Python dependencies

# This requirements.txt file should be located in the root directory of this project/repository.

# The below dot (.) tells pip to install the module defined in the setup.py file in the current
# directory.

.


##
#

